.highlight {
    background: white !important;
}
.blob-wrapper {
    background: white;
}
pre {
    background: white;
}
table.rouge-table {
    background: white !important;
}
td.code {
    background: white !important;
}
.blob-wrapper.data.type-typescript {
}

.blob-code {
    background: white !important;
}

.blob-num {
    background: white !important;
}